_linux/
_windows/
.moc/
.uic/
.obj/
Makefile.*
Makefile
*.user
qrc_*
moc_*
.user/
*.Debug
*.Release
*.sh
*.qm
version-included.txt
revision.h
/stm32f429bit/project1/build/
/stm32f429bit/project1/dist/